* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.menu_bg {
  position: absolute;
  width: 100%;
  z-index: 999;
}
/* .menu_bg{
  align-items: center;
} */
.menu_bg ul li a {
  color: #474747;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding: 0 25px !important;
  text-transform: capitalize;
}

/* .menu_bg ul li:last-child a{
    background-color: #FD6E0A;
    color:#fff;
    padding:18px 30px !important;
} */
.menu_bg .btttn a {
  background-color: #fd6e0a;
  color: #fff;
  padding: 15px 33px !important;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  border-radius: 5px;
}
.btttn a {
}
/* Banner section start */
#banner {
  background: url(../images/nav-background.png) no-repeat center/cover;
  padding-top: 270px;
  padding-bottom: 350px;
  position: relative;
}
.banner_text {
}
.banner_text h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Open Sans";
  padding-bottom: 20px;
}
.banner_text h1 {
  font-size: 85px;
  font-weight: 800;
  font-family: "Open Sans";
  color: #181818;
  padding-bottom: 35px;
}
.bann_btn p {
  font-size: 18px;
  /* font-weight: 800; */
  line-height: 30px;
  font-family: "Open Sans";
  color: #757575;
}
.bann_btn {
  padding: 45px 0;
}
.bann_btn a {
  background-color: #fd6e0a;
  padding: 10px 33px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #fd6e0a;
  margin-right: 20px;
  text-transform: capitalize;
}
.bann_btn a:hover {
  background-color: #fff;
  padding: 10px 33px;
  border-radius: 5px;
  color: #fd6e0a;
}
.ban_man {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.ban_sun {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Banner section end */

/* About section start */
#about {
  padding: 150px 0;
}
.container-bg {
  /* background-color: ; */
  background-color: #b0917b;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* .about_titel {
  padding: 150px 0 50px 0;

} */
.about_titel {
}
.about_titel h2 {
  font-size: 35px;
  font-weight: 800;
  color: #181818;
  line-height: auto;
  text-transform: capitalize;
  font-family: "Open Sans";
  padding-bottom: 30px;
}
.about_titel p {
}
.address {
  padding-top: 50px;
}
/* About section end */
/* What section start */
#what {
  padding: 100px 0;
}
.what_text {
}
.what_text h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  font-family: "Open Sans";
  padding-bottom: 20px;
}
.what_text p {
  font-size: 18px;
  font-family: "Open Sans";
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.what_style {
}
.what_style a {
}
.what_style h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #181818;
  font-family: "Open Sans";
}
.what_style p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  font-family: "Open Sans";
}
/* What section end */

.bann_btnn {
  margin-top: 50px;
  /* padding-bottom: 50px; */
}
.bann_btnn a {
  background-color: #fd6e0a;
  padding: 10px 33px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #fd6e0a;
  /* margin-right: 20px; */
  text-transform: capitalize;
  /* margin:0 auto; */
}
