* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* .menu_bg{
  align-items: center;
} */
.menu_bg ul li a {
  color: #474747;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding: 0 25px !important;
  text-transform: capitalize;
}

/* .menu_bg ul li:last-child a{
    background-color: #FD6E0A;
    color:#fff;
    padding:18px 30px !important;
} */
.menu_bg .btttn a {
  background-color: #fd6e0a;
  color: #fff;
  padding: 18px 33px !important;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
